.rastreo-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #000000;
  margin-bottom: 10px;
}

button {
  padding: 12px 20px;
  background: #2563eb;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.resultado {
  margin-top: 20px;
  background: #7993cf;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
}

.error {
  margin-top: 15px;
  color: red;
}
