<header>
  <h1>📦 Paquetería Express</h1>
  <nav>
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a routerLink="/noticias" routerLinkActive="active">Noticias</a>
    <a routerLink="/rastreo" routerLinkActive="active">Rastreo</a>
    <a routerLink="/contacto" routerLinkActive="active">Contáctenos</a>
    <!-- 🔹 Si NO está logueado -->
    <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" class="login-link">Login</a>
    <!-- 🔹 Si SÍ está logueado -->
    <a *ngIf="isLoggedIn" (click)="logout()" class="login-link cerrar-sesion">Cerrar sesión</a>

  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  © {{ currentYear }} Paquetería Express — Conectados con tu envío.
</footer>
