.login-link {
  color: white;
  background-color: #ff6600;
  padding: 6px 14px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.login-link:hover {
  background-color: #e65c00;
}

.cerrar-sesion {
  background-color: #d9534f;
}

.cerrar-sesion:hover {
  background-color: #b52b27;
}
