.contacto {
  max-width: 600px;
  margin: auto;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
